.slider-container {
  width: 100%;
  overflow: hidden;
}
.slide {
  width: 100%;
  position: relative;
}
.img-container {
  width: 100%;
  height: 250px;
}
@media (min-width: 700px) {
  .img-container {
    height: 500px;
  }
}
@media (min-width: 1024px) {
  .img-container {
    height: 650px;
  }
}
.carousel-img {
  width: 100%;
  object-fit: cover;
  object-position: 0% 50%;
  overflow: clip;
  height: 100%;
}

.slide-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  color: white;
}
.slide-text {
  font-size: 3vw !important;
  font-weight: 600 !important;
}
.slide-subtext {
  font-size: 24px !important;
  font-weight: 500 !important;
}
.slide-button {
  border: 1px solid white;
  color: white;
}
