.custom-arrow-prev {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;
  z-index: 1;
  left: 15px;

  &:hover {
    background-color: #dcb27b;
    transition: background-color 0.8s;
  }
}
