.nav-link {
  font-size: 14px !important;
  padding: 5px 17.5px !important;
  cursor: pointer !important;
  color: black !important;
  text-decoration: none !important;
}
.nav-link:hover {
  color: rgb(172, 141, 100);
}
